#navLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5b92e5;
  }
  
  #navLinks li {
    float: left;
  }
  
  #navLinks li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navLinks li a:hover:not(.active) {
    background-color: #7a9bcc;
  }
  
  .active {
    background-color: #e5d75b;
  }
#artCarousel{
    height: 20%;
    padding: 5%;
}